//Esquema de colores

//Primer esquema de color
$white: #FFFFFF;
$snow: #FAFAFA;
$quick-silver: #A0A0A0;

//Segundo esquema de color
$jelly-bean: #E56353;
$salmon: #E97F72;
$pastel-pink: #F0A9A1;

//Tercer esquema de color
$granite-gray: #686963;
$taupe-gray: #91988D;
$gray: #BABAB8;

//Tipografía
$raleway: 'Raleway', sans-serif;

//Pesos de fuente
$bold: 700;
$regular: 400;
$extra-light: 200;

//Tamaño de fuente
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

//Botones
$button-border-radius: 30px;
$big-button: 500px;
$large-button: 380px; 
$medium-button: 200px;
$small-button: 145px;

