%common-section {
  p {
    font-weight: $regular;
    width: 50%;
    margin: auto;
    text-align: start;
  }
}

%common-img {
  width: 70%;
}
%common-title {
  font-weight: $bold;
  font-size: $large;
}
.description {
  text-align: center;
}
.description__organic {
  @extend %common-section;
  background-color: $taupe-gray;
  color: $white;
  padding: 5% 0 5% 0;
}
.description__organic__img,
.description__place__img {
  @extend %common-img;
}
.description__organic__title {
  @extend %common-title;
  color: $white;
}
.description__place__title {
  @extend %common-title;
}
.description__place {
  @extend %common-section;
  padding: 5% 0 5% 0;
}
