.header{
    padding: 1em;
    &__container{
        width: 100%;
        margin: 0 auto;
        //max-width: 800px;
    }

    &__link{
        background: url('../images/logo_header.png') no-repeat center / 100% auto transparent;
        height: 52px;
        width: 252px;
        display: block;
    }
}